body {
  background-color: #afe5bf;
}

div,
p {
  margin: 0;
}

.search-form {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;

  background-color: #1913433d;
  box-shadow: 2px 2px #324242;
}

.search-form__input {
  margin-right: 15px;
  width: 250px;
  height: 25px;

  background-color: transparent;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 50px;
  height: 50px;

  background-image: url(/src/images/spinner.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.search {
  width: 20px;
  height: 20px;

  background-image: url(/src/images/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 15px;
}

.gallery__link {
  margin-bottom: 5px;

  box-shadow: 1px 1px #324242;
  text-decoration: none;
  border: 1px solid #324242;
}

.photo-card {
  width: 300px;
}

img {
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-item {
  text-align: center;
  color: black;
}

.is-hidden {
  visibility: hidden;
}
